@font-face {
	src: url("./fonts/Oswald/Oswald.ttf");
	font-family: regular;
	font-weight: 50;
}
#page_title{
	position: relative;
	width: 100%;
	text-align: center;
	font-family: regular;
	font-size: 40px;
}
.game_container{
	position: relative;
}
.game_title{
	position: relative;
	width: 100%;
	text-align: center;
	font-family: regular;
	font-size: 40px;
}
.game_info{
	height: 400px;
	display: flex;
	flex-direction: column;
	position: relative;
}
.text{
	font-family: regular;
	font-size: 32px;
}
.paragraph{
	white-space: pre-wrap;
}

.store_list{
	position: absolute;
	width: 30%;
	top: calc(100% - 64px);
	display: flex;
	height: 64px;
}
.store_icon{
	height: 64px;
	width: auto;
}


.tech_stack{
	display: flex;
	flex-direction: row-reverse;
	width: 40%;
	height: 56px;
	position: absolute;
	left:50%;
	top: calc(100% - 48px);
	object-fit: contain;
}

.tech_logo{
	width: 40px;
	height: auto;
	filter: grayscale(100%);
	margin: 8px;
}
