@font-face {
	src: url("./fonts/Oswald/Oswald.ttf");
	font-family: regular;
	font-weight: 50;
}
#page_title{
	position: relative;
	width: 100%;
	text-align: center;
	font-family: regular;
	font-size: 40px;
}
.game_title{
	position: relative;
	width: 100%;
	text-align: center;
	font-family: regular;
	font-size: 40px;
}
.game_info{
	display: flex;
	flex-direction: column;
	position: relative;
	left: 10px;
}
.text{
	font-family: regular;
	font-size: 32px;
}
.game_image{
	height: auto;
}

.store_badge{
	width: 30%;
	height: auto;
}

.store_badge_small{
	width: 20%;
	height: auto;
}

.store_badge_small_fill{
	width: 20%;
	height: auto;
	background-color: black;
	border-radius: 10px;
}

.play_online