:root {
  --main-accent-color: #89b4fa;
}
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
  margin: 5px;
}

html{
  background-color: black;
  margin:0;
  scroll-behavior: smooth;
  scroll-padding-top: 8vh;
}

.top_name{
  font-size: min(10vw,2cm);
}

h1{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: var(--main-accent-color);
  font-size: min(8vw,3cm);
}
p ,span{
  font-weight: 600;
  text-align: center;
  font-size: min(5vw,1cm);
}

button{
  font-size:4vw;
  cursor: pointer;
}

.main_flex{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
}

.inlinep{
  margin:0;
  margin-left: 3px;
}

.textline{
  margin:0;
}

.star{
  margin:1px;
}

.rating_container{
  display: flex;
  align-items: center;
}

.top_gradient{
  position: absolute;
  --size:200vw;
  left: calc(var(--size) /1.5 * -1);
  top: calc(var(--size) /1.3 * -1);
  width: var(--size);
  height: var(--size);
  background-image: radial-gradient(closest-side,blue,black);
  z-index: -1;
}
.pop{
  color:var(--main-accent-color)
}

.text_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play_text{
  font-size: 12vw;
}
.accent_glow{
    background-image: radial-gradient(closest-side,var(--accentColor),transparent);
    z-index:-1;
}
.category_button_holder{
    display: flex;
    position: sticky;
    top:0;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin:0;
    z-index:5;
    height: 7vh;
}
.project_interaction_container{
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  margin:0;
}

.iq_lab_button{
  background-color: #97db45ff;
  color:black;
}
.interaction_button {
  border-radius:5px;
  border-color: transparent;
  cursor:pointer;
}


.pixel_liquid_button{
  background-color: #e37979ff;
  color:black;
}
.exploragrafos_button {
  color:black
}
.pixel_liquid_title{
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.randamatch_button{
  background-color: #30541cff;
  color:white;
}

.concept_image{
  width: 15vh;
}

.get_it_on_play{
  width: 30vw;
  height: auto;
  cursor: pointer;
}

.smart_notes_button{
  background-color: #ffc300ff;
  color:black;
}

.cat_ball_button{
  background-color: #fff300ff;
  color:black;
}

.ignis_button{
  background-color: #0663f0ff;
  color:white;

}