---

---

<h1 class='text.contact.title'>Get in touch</h1>

<button class="footer_contact_button" id="send_mail">
    <span class="material-symbols-outlined">mail</span>
    <p class="text.contact.email">Send me an email</p>
</button>
<button class="footer_contact_button" id="agenda">
    <span class="material-symbols-outlined">calendar_add_on</span>
    <p class="text.contact.meeting">Schedule a meeting</p>
</button>
<button id="fiverr" class="footer_contact_button" style="background-color:#1dbf73ff">
    <img class="contact_icon" src="/icons/fiverr.webp"/>
    <p class="text.contact.fiverr">Hire me on fiverr</p>
</button>
<style>
.footer_contact_button{
  display: flex;
  background-color: var(--main-accent-color);
  color: white;
  border-radius:5px;
  border-color: transparent;
  width: 50vw;
  align-items:  center;
    gap: 0.75rem;
}

.footer_contact_button p{
    margin: 0;
}

.contact_icon{
  width: 5vw;
  height: auto;
}
</style>
<script>
    document.getElementById("fiverr")!.onclick = function(){
        window.open("https://es.fiverr.com/s/Q7ok4P6", "_blank");
    }
    document.getElementById("send_mail")!.onclick = function(){
        window.open( "mailto:andresdavidcalderonjimenez@gmail.com", "_blank");
    }
    document.getElementById("agenda")!.onclick = function(){
        window.open( "https://calendly.com/andresdavidcalderonjimenez", "_blank");
    }
</script>

<script src="../translator.js"></script>